@tailwind base;

html {
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: -0.04em;
  font-feature-settings: "ss01" on;
  @apply text-base bg-white;
}

a,
button {
  @apply transition-all duration-300 ease-linear;
}

@tailwind components;
@tailwind utilities;
